.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  margin-top: 0.2rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.8s ease-in-out;
}

.box:hover img {
  scale: 1.2;
}

.show h3 {
  text-align: center;
  font-size: 0.8rem;
  margin: 4px 0;
}

.show h4 {
  text-align: center;
  margin: 0 0 4px 0;
  color: purple;

  font-family: cursive;
}

.show button {
  text-align: center;
  width: 100%;
  background: linear-gradient(to top left, blue, skyblue);
  /* border-radius: 4px; */
  outline: darkblue;
  padding: 0.4rem;
  border: none;
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.show button:hover {
  box-shadow: 4px 4px 12px skyblue, -4px -4px 12px skyblue;
}

@media (max-width: 599px) {
  .box {
    width: 165px;
    height: 160px;
  }
  .box img {
    border-radius: 8px;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .box {
    width: 140px;
    height: 140px;
  }
}
/* 
@media (max-width: 400px) {
  .box {
    width: 110px;
    height: 110px;
  }
} */

@media (max-width: 1400px) and (min-width: 900px) {
  .box {
    width: 100px;
    height: 100px;
  }
  .show h4 {
    font-size: 0.6rem;
  }
}

@media (min-width: 1400px) {
  .box {
    width: 160px;
    height: 160px;
  }
}
